body {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

video {
  position: fixed;
  /*max-height: 500px;*/
  /*transform: skew(15deg);
  transform: perspective(9cm) rotateX(-15deg) rotateY(30deg);
  transform: rotateX(-80deg);
  bottom: 10px;*/
}
